html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

nav {
    height: 24px;
    padding: 15px 15px;
    color: white;
    background-color: black;
    font-size: 18px;
}



.wrapper
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#left-col
{
    width: 240px;
    color: white;
    background-color: #1976D2;
}

#right-col
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#content
{
    flex-grow: 1;
}

footer
{
    display: flex;
    flex-direction: row;
}

#footer-content
{
    color: #949494;
    padding: 4px;
    font-size: 12px;
    height: 20px;
    background-color: #EEEEEE;
    text-align: center;
    flex-grow: 1;
}